body{
	padding: 0;
	margin: 0;
	background-color: #E8F3FF;
}

#baloon-message{
	padding:0;
	margin: 0;
}

.dtWindowContent {
    font: 24px/32px Georgia,Tahoma !important;
 }

.dtWindow {
	font:24px/32px Georgia,Tahoma !important;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	box-shadow: 0 0 19px -7px #000;  -moz-box-shadow: 0 0 19px -7px #000; -webkit-box-shadow:0 0 19px -7px #000;
	padding: 20px; 
	opacity: 0.8;
	position: absolute;
	width: 400px;
	background:#fff url(http://defaceit.ru/defaceit/baloon/develop/images/bg.png);
	z-index: 1000;
	color: #623F1D;
} 
.dtWindowButtons {
	float:right;
/*	position:absolute;
	margin-left: 200px;*/
}

a.premium-button {
    background-color: #FEDA71;
    background-image: -moz-linear-gradient(center top , #FEDA71, #FEBB49);
    border-radius: 48px 48px 48px 48px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0 #FFE4B3 inset;
    color: #623F1D;
    display: block;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 5px;
    padding: 10px 28px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FEDE9D;
}

