<html>
<head>
    <script src="http://sandbox.defaceit.ru/defaceit/pages/pages.js"></script>
</head>
<body>
    <script>
	function load_template() {
	    pages.save = function(r) {
		$('#template').val(r);
		$('#template_form').submit();
	    }
	    
	    run();
	}
    </script>

    <form id="template_form" action="/page/save" method="post">
	<input type="hidden" name="url" value="{{ url }}"/>
	<textarea id="template" name="content"></textarea>
	<input type="submit" value="save" name="save"/>
	<input type="button" onclick="load_template();" value="Load template"/>
    </form>
</body>